.navbar {
    background-color: #0063C3;
    border-color: #E7E7E7;
}

.navbar-brand {
  color: #fff;
}

tr {
  line-height: 40px;
}

img {
  border: 0 none;
  display: inline;
  height: 40px;
  vertical-align: middle;
}

h3 {
  color: #0063C3;
}