.navbar {
    background-color: #0063C3;
    border-color: #E7E7E7;
}

.navbar-brand {
  color: #fff;
}

html {
  font-size: 0.5rem;
}

@media (min-width: 350px) {
  html {
    font-size: 0.7rem;
  }
}

@media (min-width: 550px) {
  html {
    font-size: 1rem;
  }
}

tr {
  line-height: 18px;
}

td {
  padding-left: 1px;
  padding-right: 1px;
}

img {
  border: 0 none;
  display: inline;
  height: 18px;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
}

footer {
  padding-top: 40px;
  padding-right: 10px;
  color: #aaa;
}

.updated {
  margin-top: 10px;
}

.tab-toggle {
  margin-top: 5px;
  margin-bottom: 15px;
}

.league-table-tab {
  text-align: right;
}

.loader {
  margin-top: 200px;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0063C3;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
